$main-font-color: #fff1f1;
@font-face {
  font-family: Futura;
  /* Имя шрифта */
  src: url("../assets/fonts/FuturaBookC.ttf");
  /* Путь к файлу со шрифтом */
}
html {
  width: 100%;
  //   height: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #0e0a7a;
  color: $main-font-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Futura;
}
.content {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.background-block {
  background-color: rgba(0, 0, 0, 0.408);
  padding: 30px;

  margin: 0 20px 20px 20px;
  white-space: normal;
  line-height: 25px;
  font-size: 20px;
}

.content__people-info {
  width: 90%;
  display: flex;
}

.anastasia {
  background-image: url("../assets/img/avatar1.jpg");
}
.elina {
  background-image: url("../assets/img/avatar2.jpg");
}
.daria {
  background-image: url("../assets/img/avatar3.jpg");
}
.ivan {
  background-image: url("../assets/img/avatar4.jpg");
}
.avatar {
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 50%;
  border: 2px solid $main-font-color;
  margin-right: 5%;
}

.people-info__contact {
  width: 80%;
  white-space: normal;
  display: flex;
  flex-direction: column;
}
.people-info__contact_name {
  font-weight: 900;
  font-size: 1.7rem;
}

.people-info__contact_review {
  margin: 20px 0;
}
.people-info__contact_review::before {
  content: "“";
  padding: 10px 5px 0 0;
  font-size: 2rem;
  font-weight: 900;
}
.people-info__contact_review::after {
  content: "”";
  padding-left: 5px;
  font-size: 2rem;
  font-weight: 900;
}
.people-info__contact_email::before {
  content: "e-mail:  ";
}
@media screen and (max-width: 1081px) {
  .content__people-info {
    flex-direction: column;
    align-items: center;
  }
  .avatar {
    margin-bottom: 10px;
  }
  .people-info__contact {
    align-items: center;
  }
}
